pip-tools==3.8.0                        # BSD   Keep this in sync with Makefile's PIP_TOOLS_VERSION

aenum>=2.1.2; python_version < '3.6'   # BSD
cffi                                    # MIT
cryptography!=2.0                       # BSD/Apache-2.0
deprecation>=2.0.6                      # Apache-2.0
enum34>=1.1.6 ; python_version <= '3.3' # BSD
faulthandler; python_version < '3.3' #  # BSD License (2 clause)
flake8                                  # MIT
ipaddress; python_version < '3.3'       # PSF
objgraph                                # MIT
parameterized>=0.6.1                    # BSD
pexpect                                 # ISC
psutil                                  # BSD
pycodestyle                             # MIT (Expat license)       https://pypi.org/project/pycodestyle/
pympler                                 # Apache-2
scapy; python_version >= '2.7' or python_version >= '3.4'    # GPL2  https://github.com/secdev/scapy/blob/master/LICENSE
six                                     # MIT
syslog_rfc5424_parser>=0.3.1            # ISC
subprocess32; python_version < '3.2'    # PSF
syslog_rfc5424_parser>=0.3.0            # ISC
