pip-tools==7.4.1                        # BSD   Keep this in sync with Makefile's PIP_TOOLS_VERSION
cryptography!=2.0                       # BSD/Apache-2.0
deprecation>=2.0.6                      # Apache-2.0
faulthandler; python_version < '3.3' #  # BSD License (2 clause)
ipaddress; python_version < '3.3'       # PSF
parameterized>=0.6.1                    # BSD
pexpect                                 # ISC
psutil                                  # BSD
scapy==2.4.5; python_version >= '3.4'    # GPL2  https://github.com/secdev/scapy/blob/master/LICENSE
six                                     # MIT
syslog_rfc5424_parser>=0.3.1            # ISC
objgraph                                # MIT
pyparsing                               # MIT
pympler                                 # Apache-2.0
sphinx                                  # BSD
sphinxcontrib-spelling                  # BSD
sphinx-rtd-theme                        # MIT
noiseprotocol                           # MIT
recommonmark                            # MIT
pyyaml                                  # MIT
jsonschema; python_version >= '3.7'     # MIT
dataclasses; python_version == '3.6'    # Apache-2.0
black                                   # MIT https://github.com/psf/black
pycryptodome                            # BSD, Public Domain
sh                                      # MIT https://github.com/amoffat/sh
sysctl; platform_system == "FreeBSD"	# BSD
pyzmq>=22.0.0                           # MIT
