BasedOnStyle: GNU
UseTab: Always
SpaceAfterCStyleCast: true
SortIncludes: false

ForEachMacros:
  - 'clib_bitmap_foreach'
  - 'clib_fifo_foreach'
  - 'clib_llist_foreach'
  - 'clib_llist_foreach_reverse'
  - 'clib_llist_foreach_safe'
  - 'foreach_march_variant'
  - 'foreach_march_variant'
  - 'foreach_set_bit'
  - 'foreach_vlib_main'
  - 'hash_foreach'
  - 'hash_foreach_mem'
  - 'hash_foreach_pair'
  - 'heap_foreach'
  - 'mhash_foreach'
  - 'pool_foreach'
  - 'pool_foreach_index'
  - 'pool_foreach_region'
  - 'vec_foreach'
  - 'vec_foreach_backwards'
  - 'vec_foreach_index'
  - 'vec_foreach_index_backwards'
  - 'vlib_foreach_rx_tx'
