[branch "refs/heads/*"]
	pluginuser = vppmaintainerplugin
	maintainerfileref = master
	maintainerfile = MAINTAINER
	autoaddreviewers = true
	allowmaintainersubmit = false
	autosubmit = false
	dislikewarnings = false

[branch "refs/heads/stable/*"]
	pluginuser = vppmaintainerplugin
	maintainerfileref = 1707
	maintainerfile = MAINTAINER
	autoaddreviewers = false
	allowmaintainersubmit = false
	autosubmit = false
	dislikewarnings = false