[access]
	inheritFrom = All-Projects
[project]
	description = Vector Packet Processing
[access "refs/*"]
	owner = group ldap/fdio-gerrit-vpp-committers
	label-Code-Review = -2..+1 group Change Owner
	read = group GitHub Replication
	labelAs-Code-Review = -2..+1 group vppmaintainerplugin-permissions
[submit]
	action = rebase if necessary
[notify "vppapi"]
	email = vpp-api-dev@lists.fd.io
	type = submitted_changes
	header = to
	filter = extension:api
