[access]
	inheritFrom = All-Projects
[project]
	description = Vector Packet Processing
[access "refs/*"]
	owner = group ldap/fdio-gerrit-vpp-committers
[submit]
	action = rebase if necessary
[access "refs/tags/*"]
	push = group ldap/fdio-gerrit-deb_dpdk-committers
	push = group ldap/fdio-gerrit-vpp-committers
