[access]
	inheritFrom = All-Projects
[project]
	description = Vector Packet Processing
[access "refs/*"]
	owner = group saml/fdio-gerrit-vpp-committers
	label-Code-Review = -2..+1 group Change Owner
	read = group GitHub Replication
	labelAs-Code-Review = -2..+1 group vppmaintainerplugin-permissions
	exclusiveGroupPermissions = read
[submit]
	action = rebase if necessary
[notify "vppapi"]
	header = to
	email = vpp-api-dev@lists.fd.io
	type = submitted_changes
	filter = path:^.*\\.api
