alabaster==0.7.12
attrs==19.3.0
Babel==2.8.0
certifi==2019.11.28
chardet==3.0.4
commonmark==0.9.1
docutils==0.16
idna==2.9
imagesize==1.2.0
importlib-metadata==1.5.0
Jinja2==2.11.1
jsonschema==3.2.0
MarkupSafe==1.1.1
packaging==20.3
pyaml==20.3.1
pyenchant==3.0.1
Pygments==2.6.1
pyparsing==2.4.6
pyrsistent==0.15.7
pytz==2019.3
PyYAML==5.3.1
recommonmark==0.6.0
requests==2.23.0
six==1.14.0
snowballstemmer==2.0.0
Sphinx==2.4.4
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-spelling==4.3.0
urllib3==1.25.8
zipp==3.1.0
