Source: vpp
Section: net
Priority: extra
Maintainer: Cisco OpenVPP Packaging Team <bogus.address@cisco.com>
Build-Depends: debhelper (>= 9), dh-systemd, dh-python, chrpath, python-all
Standards-Version: 3.9.4

Package: vpp
Architecture: any
Depends: vpp-lib (= ${source:Version}), ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: Vector Packet Processing--executables
 This package provides VPP executables: vpp, vpp_api_test, vpp_json_test
 vpp - the vector packet engine
 vpp_api_test - vector packet engine API test tool
 vpp_json_test - vector packet engine JSON test tool

Package: vpp-dbg
Architecture: any
Depends: ${misc:Depends}
Description: Vector Packet Processing--debug symbols

Package: vpp-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: Vector Packet Processing--development support
 This package contains development support files for the VPP libraries
 .

Package: vpp-lib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Vector Packet Processing--runtime libraries
 This package contains the VPP shared libraries, including:
 .
 vppinfra - foundation library supporting vectors, hashes, bitmaps, pools, and string formatting.
 svm - vm library
 vlib - vector processing library
 vlib-api - binary API library
 vnet -  network stack library

Package: vpp-plugins
Architecture: any
Depends: vpp (= ${source:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Vector Packet Processing--runtime plugins
 This package contains VPP plugins
 .

Package: vpp-api-lua
Architecture: any
Depends: ${misc:Depends}, vpp (= ${source:Version})
Description: VPP LUA API bindings
  This package contains VPP lua api bindings
  .

Package: vpp-api-java
Architecture: any
Depends: ${misc:Depends}, vpp (= ${source:Version})
Description: VPP Java API bindings
  This package contains VPP java api bindings
  .

Package: vpp-api-python
Architecture: any
Depends: ${python:Depends}, ${misc:Depends}, vpp (= ${source:Version})
Description: VPP Python API bindings
  This package contains VPP python api bindings
  .
