# Copyright (c) 2023 Cisco and/or its affiliates.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at:
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

duration=2

frame_size=8
queue_class_number=1000
max_nic_size=1024

input_byte_rate=3000000000
output_byte_rate=1500000000

class_repartition=3,20|2,15|1,10|0,5
size_repartition=0


# duration in seconds
# frame size in packet/frame
# input rate in byte/s
# output rate in byte/s