name: gerrit-verify

on:
  workflow_dispatch:
    inputs:
      GERRIT_BRANCH:
        description: "Branch that change is against"
        required: true
        type: string
      GERRIT_CHANGE_ID:
        description: "The ID for the change"
        required: true
        type: string
      GERRIT_CHANGE_NUMBER:
        description: "The Gerrit number"
        required: true
        type: string
      GERRIT_CHANGE_URL:
        description: "URL to the change"
        required: true
        type: string
      GERRIT_EVENT_TYPE:
        description: "Type of Gerrit event"
        required: true
        type: string
      GERRIT_PATCHSET_NUMBER:
        description: "The patch number for the change"
        required: true
        type: string
      GERRIT_PATCHSET_REVISION:
        description: "The revision sha"
        required: true
        type: string
      GERRIT_PROJECT:
        description: "Project in Gerrit"
        required: true
        type: string
      GERRIT_REFSPEC:
        description: "Gerrit refspec of change"
        required: true
        type: string
      FDIO_NAMESPACE:
        description: "Executor Namespace (prod|sandbox)"
        required: false
        type: choice
        options:
          - sandbox
          - prod
        default: prod

defaults:
  run:
    shell: bash

permissions:
  contents: read
  actions: read

concurrency:
  group: ${{ github.workflow }}-${{ inputs.GERRIT_CHANGE_NUMBER }}-${{ inputs.GERRIT_PATCHSET_NUMBER }}
  cancel-in-progress: true

jobs:
  notify-start:
    runs-on: ubuntu-latest
    steps:
      - name: Clear Gerrit vote
        # yamllint disable-line rule:line-length
        uses: lfreleng-actions/gerrit-review-action@537251ec667665b386f70b330b05446e3fc29087 # v0.9
        with:
          host: ${{ vars.GERRIT_SERVER }}
          username: ${{ vars.GERRIT_SSH_REQUIRED_USER }}
          key: ${{ secrets.GERRIT_SSH_REQUIRED_PRIVKEY }}
          known_hosts: ${{ vars.GERRIT_KNOWN_HOSTS }}
          gerrit-change-number: ${{ inputs.GERRIT_CHANGE_NUMBER }}
          gerrit-patchset-number: ${{ inputs.GERRIT_PATCHSET_NUMBER }}
          vote-type: clear
          comment-only: true

  verify-checkstyle:
    name: Run vpp-verify-checkstyle
    needs:
      - notify-start
    uses: fdio/vpp/.github/workflows/vpp-verify-checkstyle.yml@master
    with:
      GERRIT_BRANCH: ${{ inputs.GERRIT_BRANCH }}
      GERRIT_CHANGE_ID: ${{ inputs.GERRIT_CHANGE_ID }}
      GERRIT_CHANGE_NUMBER: ${{ inputs.GERRIT_CHANGE_NUMBER }}
      GERRIT_CHANGE_URL: ${{ inputs.GERRIT_CHANGE_URL }}
      GERRIT_EVENT_TYPE: ${{ inputs.GERRIT_EVENT_TYPE }}
      GERRIT_PATCHSET_NUMBER: ${{ inputs.GERRIT_PATCHSET_NUMBER }}
      GERRIT_PATCHSET_REVISION: ${{ inputs.GERRIT_PATCHSET_REVISION }}
      GERRIT_PROJECT: ${{ inputs.GERRIT_PROJECT }}
      GERRIT_REFSPEC: ${{ inputs.GERRIT_REFSPEC }}
      FDIO_NAMESPACE: ${{ inputs.FDIO_NAMESPACE }}
    secrets: inherit

  verify-maketest:
    name: Run vpp-verify-maketest
    needs:
      - notify-start
      - verify-checkstyle
    if: ${{ needs.verify-checkstyle.result == 'success' }}
    uses: fdio/vpp/.github/workflows/vpp-verify-maketest.yml@master
    with:
      GERRIT_BRANCH: ${{ inputs.GERRIT_BRANCH }}
      GERRIT_CHANGE_URL: ${{ inputs.GERRIT_CHANGE_URL }}
      GERRIT_PROJECT: ${{ inputs.GERRIT_PROJECT }}
      GERRIT_REFSPEC: ${{ inputs.GERRIT_REFSPEC }}
      GERRIT_CHANGE_NUMBER: ${{ inputs.GERRIT_CHANGE_NUMBER }}
      GERRIT_PATCHSET_NUMBER: ${{ inputs.GERRIT_PATCHSET_NUMBER }}
      FDIO_NAMESPACE: ${{ inputs.FDIO_NAMESPACE }}
    secrets: inherit

  verify-docs:
    name: Run vpp-verify-docs
    needs:
      - notify-start
      - verify-checkstyle
    if: ${{ needs.verify-checkstyle.result == 'success' }}
    uses: fdio/vpp/.github/workflows/vpp-verify-docs.yml@master
    with:
      GERRIT_BRANCH: ${{ inputs.GERRIT_BRANCH }}
      GERRIT_CHANGE_URL: ${{ inputs.GERRIT_CHANGE_URL }}
      GERRIT_PROJECT: ${{ inputs.GERRIT_PROJECT }}
      GERRIT_REFSPEC: ${{ inputs.GERRIT_REFSPEC }}
      GERRIT_CHANGE_NUMBER: ${{ inputs.GERRIT_CHANGE_NUMBER }}
      GERRIT_PATCHSET_NUMBER: ${{ inputs.GERRIT_PATCHSET_NUMBER }}
      FDIO_NAMESPACE: ${{ inputs.FDIO_NAMESPACE }}
    secrets: inherit

  verify-csit-api:
    name: Run vpp-csit-verify-api
    needs:
      - notify-start
      - verify-checkstyle
    if: ${{ needs.verify-checkstyle.result == 'success' }}
    uses: fdio/vpp/.github/workflows/vpp-csit-verify-api.yml@master
    with:
      GERRIT_BRANCH: ${{ inputs.GERRIT_BRANCH }}
      GERRIT_CHANGE_URL: ${{ inputs.GERRIT_CHANGE_URL }}
      GERRIT_PROJECT: ${{ inputs.GERRIT_PROJECT }}
      GERRIT_REFSPEC: ${{ inputs.GERRIT_REFSPEC }}
      GERRIT_CHANGE_NUMBER: ${{ inputs.GERRIT_CHANGE_NUMBER }}
      GERRIT_PATCHSET_NUMBER: ${{ inputs.GERRIT_PATCHSET_NUMBER }}
      FDIO_NAMESPACE: ${{ inputs.FDIO_NAMESPACE }}
    secrets: inherit

  verify-arm-drivers:
    name: Run vpp-verify-arm-drivers
    needs:
      - notify-start
      - verify-checkstyle
    if: ${{ needs.verify-checkstyle.result == 'success' }}
    uses: fdio/vpp/.github/workflows/vpp-verify-arm-drivers.yml@master
    with:
      GERRIT_BRANCH: ${{ inputs.GERRIT_BRANCH }}
      GERRIT_CHANGE_URL: ${{ inputs.GERRIT_CHANGE_URL }}
      GERRIT_PROJECT: ${{ inputs.GERRIT_PROJECT }}
      GERRIT_REFSPEC: ${{ inputs.GERRIT_REFSPEC }}
      GERRIT_CHANGE_NUMBER: ${{ inputs.GERRIT_CHANGE_NUMBER }}
      GERRIT_PATCHSET_NUMBER: ${{ inputs.GERRIT_PATCHSET_NUMBER }}
      FDIO_NAMESPACE: ${{ inputs.FDIO_NAMESPACE }}
    secrets: inherit

  verify-hst:
    runs-on: ubuntu-latest
    name: Run vpp-verify-hst
    needs:
      - notify-start
      - verify-checkstyle
    if: ${{ needs.verify-checkstyle.result == 'success' }}
    steps:
      - name: nop
        run: |
          echo "verify-checkstyle.result: ${{ needs.verify-checkstyle.result }}"
  # TODO: enable hst job when dispatch class refactoring is complete
  # verify-hst:
  #   name: Run vpp-verify-hst
  #   needs:
  #     - notify-start
  #     - verify-checkstyle
  #   if: ${{ needs.verify-checkstyle.result == 'success' }}
  #   uses: fdio/vpp/.github/workflows/vpp-verify-hst.yml@master
  #   with:
  #     GERRIT_BRANCH: ${{ inputs.GERRIT_BRANCH }}
  #     GERRIT_CHANGE_URL: ${{ inputs.GERRIT_CHANGE_URL }}
  #     GERRIT_PROJECT: ${{ inputs.GERRIT_PROJECT }}
  #     GERRIT_REFSPEC: ${{ inputs.GERRIT_REFSPEC }}
  #     GERRIT_CHANGE_NUMBER: ${{ inputs.GERRIT_CHANGE_NUMBER }}
  #     GERRIT_PATCHSET_NUMBER: ${{ inputs.GERRIT_PATCHSET_NUMBER }}
  #     FDIO_NAMESPACE: ${{ inputs.FDIO_NAMESPACE }}
  #   sec |

  final-vote:
    if: ${{ always() }}
    needs:
      - notify-start
      - verify-checkstyle
      - verify-maketest
      - verify-docs
      - verify-csit-api
      - verify-arm-drivers
      - verify-hst
    runs-on: ubuntu-latest
    env:
      GERRIT_CHANGE_NUMBER: ${{ inputs.GERRIT_CHANGE_NUMBER }}
      GERRIT_PATCHSET_NUMBER: ${{ inputs.GERRIT_PATCHSET_NUMBER }}
    steps:
      - name: Collect workflow results
        id: overall
        run: |
          set -euxo pipefail
          if [[ "${{ needs.notify-start.result }}" == "success" && \
                "${{ needs.verify-checkstyle.result }}" == "success" && \
                "${{ needs.verify-maketest.result }}" == "success" && \
                "${{ needs.verify-docs.result }}" == "success" && \
                "${{ needs.verify-csit-api.result }}" == "success" && \
                "${{ needs.verify-arm-drivers.result }}" == "success" && \
                "${{ needs.verify-arm-drivers.result }}" == "success" && \
                "${{ needs.verify-hst.result }}" == "success" ]]; then
            echo "result=success" >> "$GITHUB_OUTPUT"
          else
            echo "result=failure" >> "$GITHUB_OUTPUT"
          fi

      - name: Set aggregated Gerrit vote
        # yamllint disable-line rule:line-length
        uses: lfreleng-actions/gerrit-review-action@537251ec667665b386f70b330b05446e3fc29087 # v0.9
        with:
          host: ${{ vars.GERRIT_SERVER }}
          username: ${{ vars.GERRIT_SSH_USER }}
          key: ${{ secrets.GERRIT_SSH_PRIVKEY }}
          known_hosts: ${{ vars.GERRIT_KNOWN_HOSTS }}
          gerrit-change-number: ${{ env.GERRIT_CHANGE_NUMBER }}
          gerrit-patchset-number: ${{ env.GERRIT_PATCHSET_NUMBER }}
          vote-type: ${{ steps.overall.outputs.result }}
          comment-only: true  # Do not vote on gerrit
